{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
              <h2 class="blog-post-title">{{ post.title }}</h2>
              <p class="blog-post-meta">{{ post.date_posted }} by <a href="#">{{ post.author }}</a></p>

              <p>{{ post.content }}</p>
              <hr>
              <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
              </ul>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
              <ol>
                <li>Vestibulum id ligula porta felis euismod semper.</li>
                <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
              </ol>
              <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->
          </aside><!-- /.blog-sidebar -->
        </div>
      </div>
    </main><!-- /.container -->
    {% endfor %}
    <!-- Posts -->


{% endblock content %}